


<div className="App" id="here"style="margin:  0px 0px 0px 130px" >
  
    <span id="test"></span>
    <span id="content-adult">
      <div id="" *ngIf="this.answersmultivalue.includes('Impfung')">Impfung</div>
      <div id="" *ngIf="this.answersmultivalue.includes('Krebsvorsorge')">Krebsvorsorge</div>
      <div id="" *ngIf="this.answersmultivalue.includes('Vorsorge-Schwangere')">Vorsorge-Schwangere</div>
      <div id="" *ngIf="this.answersmultivalue.includes('Zahnvorsorge')">Zahnvorsorge</div>
      <div id="" *ngIf="this.answersmultivalue.includes('Checkup35')">Checkup35</div>
      <div id="" *ngIf="this.answersmultivalue.includes('Private-Vorsorge')">Private-Vorsorge</div>
      <div id="" *ngIf="this.answersmultivalue.includes('Zusatzversicherung')">Zusatzversicherung</div>
      <div id="" *ngIf="this.answersmultivalue.includes('Prävention')">Prävention</div>
      <div id="" *ngIf="this.answersmultivalue.includes('BMI')">BMI</div>
      <div id="" *ngIf="this.answersmultivalue.includes('Nichtraucher')">Nichtraucher</div>
      <div id="" *ngIf="this.answersmultivalue.includes('Betriebliche-Gesundheitsförderung')">Betriebliche-Gesundheitsförderung</div>
    </span>
    <span id="content-u16">
      <div id="" *ngIf="this.answersmultivalue.includes('Impfung')">Impfung</div>
      <div id="" *ngIf="this.answersmultivalue.includes('Krebsvorsorge')">Krebsvorsorge</div>
      <div id="" *ngIf="this.answersmultivalue.includes('Vorsorge-Schwangere')">Vorsorge-Schwangere</div>
      <div id="" *ngIf="this.answersmultivalue.includes('Zahnvorsorge')">Zahnvorsorge</div>
      <div id="" *ngIf="this.answersmultivalue.includes('Checkup35')">Checkup35</div>
      <div id="" *ngIf="this.answersmultivalue.includes('Private-Vorsorge')">Private-Vorsorge</div>
      <div id="" *ngIf="this.answersmultivalue.includes('Zusatzversicherung')">Zusatzversicherung</div>
      <div id="" *ngIf="this.answersmultivalue.includes('Prävention')">Prävention</div>
      <div id="" *ngIf="this.answersmultivalue.includes('BMI')">BMI</div>
      <div id="" *ngIf="this.answersmultivalue.includes('Nichtraucher')">Nichtraucher</div>
      <div id="" *ngIf="this.answersmultivalue.includes('Betriebliche-Gesundheitsförderung')">Betriebliche-Gesundheitsförderung</div>
    </span>
    <input type="button" (click)="save();" value="speichern"><br>
    <p id="result"></p>
    <input type="button" value="test checkconditions" (click)="checkCondition()">
</div>


